.inline {
    display: inline-block;
}



.slides button {
    border-radius: 10px;
    position: relative;
    padding: 10px 50px;
    margin: 0px 50px;
    border: none;
}

.activeSignUpButton {
    box-shadow: 0px 0px 20px #282c34;

}

.logIn div {
    padding: 10px 30px;
}

.logIn input {
    margin: 10px 30px;
}

.signUp div {
    padding: 10px 30px;
}

.signUp input {
    margin: 10px 30px;
}

.displayNone {
    display: none;
}

.blueButton {
    background-color: #A9BCFF;
}