.inline {
    display: inline-block;
}

.navbar {
    width: 244px !important;
    height: 100vh;
    position: absolute;
    left: 0px;

}



h1 {
    font-size: 35px;
    font-weight: 400;
    line-height: 70px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.menu {
    margin-top: 156px;
}

.logout {
    margin-top: 210px !important;
    border-top: 1px solid grey;
}

.createquiz,
.analytics,
.dashboard {
    border-radius: 10px;
}

.menu a {
    text-decoration: none;
    color: black;
    text-align: center;
    width: 80%;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-inline: 0;
    display: flex;
    padding: 15px 0px;
    margin: 10px auto;
    margin-left: 8px;
    box-shadow: none;
}