td {
    margin: 10px 0px
}

table {
    margin: auto
}

.analytics {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.page {
    position: absolute;
    left: 234px;
    background: #EDEDED;
    width: 80%;
    height: 100vh;
}

.head {
    padding-inline: 20px;
}

td,
th {
    padding: 5px 10px;
    /* Padding within cells (optional) */
    margin: 0 15px;
    /* Margin for spacing between cells */
}