td {
    margin: 10px 0px
}

table {
    margin: auto
}

.analytics {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.page {
    position: absolute;
    left: 234px;
    background: #EDEDED;
    width: 84%;
    height: 100vh;
}

.head {
    padding-inline: 20px;
}

td,
th {
    padding: 5px 10px;
    /* Padding within cells (optional) */
    margin: 0 15px;
    /* Margin for spacing between cells */
}

.head {
    padding-inline: 20px;
    color: #5076FF;
    width: 338px;
    height: 75px;
    top: 60px;
    left: 567px;
    gap: 0px;
    opacity: 0px;
    /* font-family: Poppins; */
    font-size: 41px;
    font-weight: 600;
    line-height: 75px;
    text-align: center;
    width: 168vh;
}