.analytics {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.page {
    position: absolute;
    left: 234px;
    background: #EDEDED;
    width: 82.5%;
    height: 100vh;
}

.quiz-name-container {
    display: flex;
    justify-content: space-between
}

.quiz-name-container h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
    padding-left: 100px;
}

.created-on {
    padding-top: 33.2px;
}

.created-on div {
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: left;
    color: #FF5D01;
    padding-right: 100px;

}

.display-flex {
    display: flex;
}

.activeButton {
    box-shadow: 0px 0px 20px #282c34;

}

.sliderbody {
    margin-inline: 162px;
}

.analysis div {
    background-color: white;
    border-radius: 10px;
    height: 92px;
    margin: 10px 42px;
}

.option div {
    padding-inline: 43px;
    margin-inline: 24px;
}

.question {
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 20px;
}

.question h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
}

.analysis p {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    margin: 7px 9px;
}

.analysis h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    margin: 2px 12px;
}